// .navbar {
//   border-bottom: 1px solid #ccc;
//   height: 4.5rem;;
// }
//
// .navbar-item img {
//   max-height: 2.8rem;
// }
//
// .navbar-menu .navbar-item .is-tab{
//   min-height: 4.5rem;
// }

.is-muted {
  color: $grey-light !important;
}

a.is-muted:hover {
  color: $grey !important;
}

.navbar-burger {
  border: none;
}
